extends layout

block content
  h1= 'Welcome to the server for CineTrail App'
  a(href='https://docs.google.com/document/d/1yLaR_v5xqZ9Ddsqd3fyO1NNSdKq3wd4PlcDRhVIXeCI/edit#' target="_blank") Click here for all the routes
  ul
    li
      a(href='/users') Users
    li
      a(href='/movies') Movies
    li
      a(href='/favoriteMovies') Favorite Movies

